<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addproperty</servlet-name>
        <servlet-class>addproperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>propertyrevocation</servlet-name>
        <servlet-class>propertyrevocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sellerlog</servlet-name>
        <servlet-class>sellerlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buyerreg</servlet-name>
        <servlet-class>buyerreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buyerlog</servlet-name>
        <servlet-class>buyerlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>booking</servlet-name>
        <servlet-class>booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buyerdelete</servlet-name>
        <servlet-class>buyerdelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sellerdelete</servlet-name>
        <servlet-class>sellerdelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addproperty</servlet-name>
        <url-pattern>/addproperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>propertyrevocation</servlet-name>
        <url-pattern>/propertyrevocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sellerlog</servlet-name>
        <url-pattern>/sellerlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buyerreg</servlet-name>
        <url-pattern>/buyerreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buyerlog</servlet-name>
        <url-pattern>/buyerlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>booking</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buyerdelete</servlet-name>
        <url-pattern>/buyerdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sellerdelete</servlet-name>
        <url-pattern>/sellerdelete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
